* {
    font-family: roboto;
    font-size: 32px;
}

.article {
    width: 75%;
    height: 500px;
}

span {
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 0%;
}


.article:hover span {
    background-position: 100% 100%;
    background-size: 0px 100%;
}

span {
    transition: background-size .5s, background-position .7s ease-in .5s;
}

.article:hover span {
    transition: background-position .5s, background-size .7s ease-in .5s;
}