<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>scheduler</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <section>
        <header>
            <button>&lt;</button>
            <h2>XX-XX, Month</h2>
            <button>&gt;</button>
        </header>
        <div class="week">
            <div class="day">
                <h2>Mon</h2>
                <div class="schedule">
                    <div class="unavailable">U/A</div>
                </div>
            </div>
            <div class="day">
                <h2>Tue</h2>
                <div class="schedule">
                    <div class="unavailable" id="ua2">U/A</div>
                </div>
            </div>
            <div class="day">
                <h2>Wed</h2>
                <div class="schedule"></div>
            </div>
            <div class="day">
                <h2>Thu</h2>
                <div class="schedule"></div>
            </div>
            <div class="day">
                <h2>Fri</h2>
                <div class="schedule">
                    <div class="unavailable">U/A</div>
                </div>
            </div>
            <div class="day">
                <h2>Sat</h2>
                <div class="schedule"></div>
            </div>
            <div class="day">
                <h2>Sun</h2>
                <div class="schedule"></div>
            </div>

        </div>
    </section>


</body>
</html>